{% extends "base.html" %}

{% block appname %}{% endblock %}

{% block content %}

<!--<link href="/static/css/login-button-widget.css" rel="stylesheet"> -->

<div class="container">
	<!--<div id="widget" class="widget"> -->
         <div class="home-page-content">
            <h2>re:Invent ALX316 Bridge User Registration</h2>
            <p class="lead"><br></p>
            <div id="amazon" class="off">
               <a href="/initiateLogin/amazon" id="LoginWithAmazon">
                  <div class="row">
                     <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                        <img border="0" alt="Login with Amazon"
                           src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                           width="156" height="32" />    <!--Mobile-->
                     </div>
                     <div class="hidden-xs col-sm-12 hidden-md hidden-lg">
                        <img border="0" alt="Login with Amazon"
                           src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                           width="156" height="32" />    <!--Tab-->
                     </div>
                     <div class="hidden-xs hidden-sm col-md-12 hidden-lg">
                        <img border="0" alt="Login with Amazon"
                           src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_312x64.png"
                           width="312" height="64" />    <!--Desktop-->
                     </div>
                     <div class="hidden-xs hidden-sm hidden-md col-lg-12">
                        <img border="0" alt="Login with Amazon"
                           src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_390x92.png"
                           width="390" height="92" />    <!--Large-->
                     </div>
                  </div>
               </a>
               <!--<br>
               <span><small><i>Please note: you will need to enable pop-ups to click this button.</i></small></span>-->
            </div>
		</div>
	<!--</div> <!-- widget -->
<div>
	



<script src="/static/js/jquery-2.0.3.min.js"></script>

<script type="text/javascript">
    $("#amazon").removeClass("off").addClass("on");
</script>


{% endblock %}		
