<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="favicon.ico">
      <title>Premise Bridge</title>
      <!-- Bootstrap core CSS -->
      <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
      <link href="css/page.css" rel="stylesheet">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
        <div id="amazon-root"></div>        
        <div id="navbar-container"></div>
        <div class="container">
            <div id ="page-content-container" class="home-page-content"/>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="js/ie10-viewport-bug-workaround.js"></script>      

        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>

        <!-- API Gateway Javascript SDK Dependencies -->
        <script type="text/javascript" src="lib/axios/dist/axios.standalone.js"></script>
        <script type="text/javascript" src="lib/CryptoJS/rollups/hmac-sha256.js"></script>
        <script type="text/javascript" src="lib/CryptoJS/rollups/sha256.js"></script>
        <script type="text/javascript" src="lib/CryptoJS/components/hmac.js"></script>
        <script type="text/javascript" src="lib/CryptoJS/components/enc-base64.js"></script>
        <script type="text/javascript" src="lib/url-template/url-template.js"></script>
        <script type="text/javascript" src="lib/apiGatewayCore/sigV4Client.js"></script>
        <script type="text/javascript" src="lib/apiGatewayCore/apiGatewayClient.js"></script>
        <script type="text/javascript" src="lib/apiGatewayCore/simpleHttpClient.js"></script>
        <script type="text/javascript" src="lib/apiGatewayCore/utils.js"></script>
        <script type="text/javascript" src="apigClient.js"></script> 
 
        <!-- UNDERSCORE / HTML SITE TEMPLATES -->
        <script type="text/html" id="NavBarTemplate">
            <nav class="navbar navbar-inverse navbar-fixed-top navbar-light bg-faded">
                <div class="container">
                    <div class="navbar-header">
                       <button id="hamburger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       </button>
                       <span id="brand" class="navbar-brand mb-0"><%=title%></span>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                       <ul id="nav-item-container" class="nav navbar-nav">
                       </ul>
                    </div>
                </div>
            </nav>
        </script>
        
        <script type="text/html" id="LoginWithAmazonButtonTemplate">
            <!-- See: https://developer.amazon.com/public/apis/engage/login-with-amazon/docs/add_button_to_website.html
                 And, https://payments.amazon.com/developer/documentation/automatic/201757210#ENTER_SIZE_PARAMETER -->
            <a href id="LoginWithAmazon">
                <div class="row">
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                        <img class="LoginWithAmazon" border="0" alt="Login with Amazon"
                           src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                           width="156" height="32" />    <!--Mobile-->
                    </div>
                    <div class="hidden-xs col-sm-12 hidden-md hidden-lg">
                        <img class="LoginWithAmazon" border="0" alt="Login with Amazon"
                           src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                           width="156" height="32" />    <!--Tab-->
                    </div>
                    <div class="hidden-xs hidden-sm col-md-12 hidden-lg">
                        <img class="LoginWithAmazon" border="0" alt="Login with Amazon"
                           src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_312x64.png"
                           width="312" height="64" />    <!--Desktop-->
                    </div>
                    <div class="hidden-xs hidden-sm hidden-md col-lg-12">
                        <img class="LoginWithAmazon" border="0" alt="Login with Amazon"
                           src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_390x92.png"
                           width="390" height="92" />    <!--Large-->
                    </div>
                </div>
            </a>
            <div id="footer" class="navbar navbar-fixed-bottom text-center">
                <span><a target="_blank" href="https://www.alexapremisebridge.com/privacy.html">Privacy Policy</a></span>
            </div>
        </script>

        <script type="text/html" id="RegistrationTemplate">
            <h2>Premise Bridge User Registration</h2>
            <p class="lead"><br></p>
            <div class="row clearfix" id="pagedata">
               <div class="col-md-6 col-md-offset-3 column">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" size="10" value="<%= name %>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="primaryemail">Email</label>
                        <input type="primaryemail" id="email" class="form-control" size="10" value="<%= primaryemail %>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="host">Host <small><span class="glyphicon glyphicon-asterisk" data-toggle="tooltip" title="Example: alexa.example.us"></span></small></label>
                        <input type="text" id="host" class="form-control form-control-editable" size="10" value="<%= host %>" autofocus readonly>
                    </div>
                    <div class="form-group">
                        <label for="path">Path <small><span class="glyphicon glyphicon-asterisk" data-toggle="tooltip" title="Example: /Alexa.svc/jsons/"></span></small></label>
                        <input type="text" id="path" class="form-control form-control-editable" size="10" value="<%= path %>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="port">Port <small><span class="glyphicon glyphicon-asterisk" data-toggle="tooltip" title="Example: 8733"></span></small></label>
                        <input type="text" id="port" class="form-control form-control-editable" size="10" value="<%= port %>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="token">Premise Access Token <small><span class="glyphicon glyphicon-asterisk" data-toggle="tooltip" title="Example: z5699rt0d"></span></small></label>
                        <input type="text" id="token" class="form-control form-control-editable" size="10" value="<%= token %>" readonly>
                    </div>
                    <button id="submitButton" type="submit" class="btn btn-primary edit-show">Register</button>
                    <button id="editButton" type="edit" class="btn btn-primary edit-hide" hidden>Edit</button>
                    <button id="resetButton" type="reset" class="btn btn-default edit-show">Reset</button>
                    
               </div>
            </div>
        </script>
      
        <!-- BACKBONE.JS SITE SCRIPT --> 
        <script type="text/javascript">
            
            /**
             * Generates a new sync function which adds the token to the request header 
             * and handles a redirect on error.
             * Reference: http://stackoverflow.com/questions/14203928/send-token-with-every-backbone-sync-request
             * @param  {Function} syncFn the parent `sync` function to call.
             * @return {Function}  a new version of sync which implements the auth logic.
             */
            var authSyncFunction = function(syncFn) {
                return function(method, model, options) {
                    options = options || {};

                    var beforeSend = options.beforeSend,
                        error = options.error;

                    _.extend(options, {
                        // Add auth headers
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader('Authorization', "Bearer " + yourTokenHere);
                            if (beforeSend) return beforeSend.apply(this, arguments);
                        },

                        // handle unauthorized error (401)
                        error: function(xhr, textStatus, errorThrown) {
                            if (error) error.call(options.context, xhr, textStatus, errorThrown);
                            if (xhr.status === 401) {
                                Backbone.history.navigate('login', {trigger: true, replace: true} );
                            }
                        }
                    });

                    return syncFn.call(this, method, model, options);
                };
            };
            
            // Extend from Session to implement your API's behaviour
            /*var Account = Session.extend({
                signIn: function () {},
                signOut: function () {},
                getAuthStatus: function () {}
            });

            // Using the custom Account implementation
            var session = new Account();
            session.fetch()
                   .then(session.getAuthStatus)
                   .then(function () {
                        console.log('Logged in as %s', session.get('name'));
                   })
                   .fail(function () {
                        console.log('Not yet logged in!');
                   });
            */
            
            /**
             * Backbone.Model for the data of the site.
             */
            var SiteModel = Backbone.Model.extend({
                /**
                 * Container for the default attributes.
                 */
                defaults: {
                    lwa_accessToken: '',
                    customerid: '', //TODO: Remove this and use token
                    name: '',
                    primaryemail: '',
                    host: '',
                    path: '',
                    port: '',
                    token: ''
                },
                initialize: function(){                   
                    Backbone.history.on('route', function(source, path){
                        this.apigClient = apigClientFactory.newClient({
                            apiKey: '4agggHAInL9ZdkosPF2v08ZOPFeNA9Rk6Euq9p1B'
                        });
                        _.bindAll(this, 'reset', 'siteState', 'getBridgeData', 'saveBridgeData', 'sendPost');
                    }, this);
                },
                //sync: authSyncFunction(BaseModel.prototype.sync),
                /**
                 * Clears the model's attributes and sets the default attributes.
                 * Reference: http://stackoverflow.com/questions/6889457/easiest-way-to-reset-backbones-model-to-initial-defaults/36685283#36685283
                 * @param  {Object} attrs to overwrite defaults.
                 * @param  {Object} options  to pass with the "set" call.
                 * @return {Backbone.Model}  this object, to chain function calls.
                 */
                reset: function(attrs, options) {
                    // adds default option reset to true
                    options = _.extend({ reset: true }, options);

                    // ensure default params
                    var defaults = _.result(this, 'defaults');
                    attrs = _.defaults(_.extend({}, defaults, attrs), defaults);

                    // apply
                    this.clear({ silent: true }).set(attrs, options);

                    // triggers a custom event, namespaced to model in order
                    // to avoid collision with collection's native reset event
                    // when listening to a collection.
                    if (!options.silent) this.trigger('model:reset', this, options);

                    return this;
                },
                /**
                 * This will simply reset the bridge data to the an empty string value within the model.
                 * It does not save the data on the AWS API Gateway; it just clears the local model.
                 * Model attribute values: host, port, path, token
                 */
                softReset: function() {
                    this.set('host', '');
                    this.set('path', '');
                    this.set('port', '');
                    this.set('token', '');
                },
                /**
                 * Determines the state of the customer on the site.
                 * @return {String} either: 'blank', 'needs registration', or 'all populated'
                 */
                siteState: function() {
                    if ((this.get('name') === '') || (this.get('primaryemail') === '')) return 'blank';
                    if ((this.get('host') === '') || (this.get('path') === '') || (this.get('port') === '') || (this.get('token') === '')) return 'needs registration';
                    return 'all populated';
                },
                /**
                 * Helper function to send POST requests to the AWS API Gateway.
                 * Errors are caught and a generic alert message occurs on error.
                 * @param  {Object} The request body, in json format.
                 * @param  {Function} The callback function to be executed on sucess.
                 */
                sendPost: function(body, action) {
                    this.apigClient.premiseDBMicroservicePost({}, body)
                        .then(function(result) {
                            action(result);
                        })
                        .catch(function(result){
                            console.log(result);
                            alert("Something went wrong; sorry! Please try again in a little bit.");
                        });
                },
                /**
                 * Gets the data associated with the bridge (host, port, path, token)
                 */
                getBridgeData: function() {
                    if (this.siteState() === 'blank') return;
                
                    var body = {
                        'function': 'getItem',
                        'id': this.get('customerid') // TODO: stop using CustomerId directly.
                    };
                    var that = this;
                    this.sendPost(body, function(result) {
                        if (result.data && result.data.Item) {
                            that.set({
                                'host': result.data.Item.host.S,
                                'port': result.data.Item.app_path.S,
                                'path': result.data.Item.port.S,
                                'token': result.data.Item.access_token.S
                            });
                        }});
                },
                /**
                 * Saves the data associated with the bridge (host, port, path, token).
                 * Please note that this function does not have visability to the view, so 
                 * it only saves (i.e. sends to API Gateway) data already set in the model.
                 */
                saveBridgeData: function() {           
                    if (this.siteState() === 'blank') return;
                    var body = {
                        'function': 'putItem',
                        'id': this.get('customerid'), // TODO: stop using CustomerId
                        'host': this.get('host'),
                        'port': this.get('port'),
                        'app_path': this.get('path'),
                        'access_token': this.get('token')
                    };
                    this.sendPost(body, function(result) { return; });
                }
            });
            
            /**
             * Navigation bar items Backbone.js view.
             */
            var NavbarItems = Backbone.View.extend({
                initialize: function(options){
                    Backbone.history.on('route', function(source, path){
                        this.render(path);
                    }, this);
                },
                /**
                 * The friendly names for each route that should be a navbar item.
                 */
                titles: {
                    'logout': 'Log Out',
                    'registration': 'Registration'
                },
                events: {
                    'click a': function(source) {
                        Backbone.history.navigate(source.target.getAttribute('href'), {trigger:true});
                        return false;
                    }
                },
                /**
                 * Render navbar items respective of route changes.
                 * @param  {String} route  to pass.
                 */
                render: function(route){
                   this.$el.empty();
                   var navItemTemplate = _.template("<li class='btn btn-default <%=active%>'><a href='#<%=href%>'><%=text%></a></li>");
                   var navItemContainer = this.$el;

                   //Update each title object with a navItem.
                   _.each(this.titles, function(value, key) {
                        navItemContainer.append(navItemTemplate({
                            active: route === key ? 'active' : '',
                            href: key,
                            text: value
                        }));
                   });
                   
                   //Hide the navItems on the login screen.
                   if (route === 'login' || route === 'logout') {
                        $('#nav-item-container').hide();
                        $('#hamburger').hide();
                   }
                }
            });
            
            /**
             * Navigation bar Backbone.js view.
             */
            var Navbar = Backbone.View.extend({
                initialize: function(options){
                    Backbone.history.on('route',function(source, path){
                        this.render(path);                        
                    }, this);
                },
                /**
                 * The friendly title names for each route.
                 */
                titles: {
                    'login': 'Premise Bridge - Log in',
                    'logout': 'Premise Bridge - Log in',
                    'registration': 'Premise Bridge - Registration'
                },
                /**
                 * Render navbar & subviews (navbarItems) passing route changes.
                 * @param  {String} route  to pass.
                 */
                render: function(route){
                    var navbarTemplate = _.template($('#NavBarTemplate').html())
                    this.$el.html(navbarTemplate({ title: this.titles[route] }));                    
                    this.assign(new NavbarItems(), '#nav-item-container', route);
                },
                /**
                 * Takes care of not having to rebind events with render changes to sub views.
                 * Reference: https://ianstormtaylor.com/rendering-views-in-backbonejs-isnt-always-simple
                 * @param  {Backbone.View} view  The view to assign.
                 * @param  {String} selector  the JQuery selector string to idenitify the DOM element to assign on.
                 * @return {String} route  pass the route name for down-references.
                 */
                assign : function (view, selector, route) {
                    view.setElement(this.$(selector)).render(route);
                }
            });

            /**
             * Log in content Backbone.js view.
             */
            var Login = Backbone.View.extend({
                el: $('#page-content-container')[0],
                initialize: function(){
                    Backbone.history.on('route', function(source, path){
                        _.bindAll(this, 'render', 'doLogin');
                        this.initializeLWA();
                        this.render();                        
                    }, this);
                },
                render: function(){
                    var template = _.template($('#LoginWithAmazonButtonTemplate').html())
                    this.$el.html(template);
                },
                events: {
                    'click a': function(source) {
                        if (source.target.getAttribute('class') === "LoginWithAmazon") {
                            setTimeout(this.doLogin, 1000);
                        }
                        return false;
                    }
                },
                /**
                 * Performs the action of logging into Amazon LWA.
                 */
                doLogin: function() {
                    options = {};
                    options.scope = 'profile';
                    var that = this;
                    amazon.Login.authorize(options, function(response) {
                        if (response.error) {
                            alert('oauth error ' + response.error);
                            return;
                        }   
                        that.model.set({"lwa_accessToken": response.access_token});
                        amazon.Login.retrieveProfile(response.access_token, function(response) {
                            _.each(response.profile, function(value, key) {
                                that.model.set(key.toLowerCase(), value);
                            });
                            Backbone.history.navigate('registration', { trigger: true });
                        });
                    });
                },
                /**
                 * Adds Login With Amazon (LWA) SDK for JavaScript. 
                 * Reference: https://developer.amazon.com/public/apis/engage/login-with-amazon/docs/install_sdk_javascript.html 
                 */
                initializeLWA: function() {
                    window.onAmazonLoginReady = function() {
                        amazon.Login.setClientId('amzn1.application-oa2-client.b659c342aba9405eb5afc9509716d51f');//'amzn1.application-oa2-client.2c6f371dbb9d4166a0208364c95baeef');
                    };
                    (function(d) {
                        var a = d.createElement('script'); a.type = 'text/javascript';
                        a.async = true; a.id = 'amazon-login-sdk';
                        a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
                        d.getElementById('amazon-root').appendChild(a);
                    })(document);
                }
            });            

            /**
             * Registration content Backbone.js view
             */
            var Registration = Backbone.View.extend({
                el: $('#page-content-container')[0],
                initialize: function(options){                   
                    Backbone.history.on('route', function(source, path){
                        _.bindAll(this, 'render');
                        this.listenTo(this.model, 'change', this.render);
                        this.render();
                        this.model.getBridgeData();
                    }, this);
                },
                renderState: {
                    'blank': function() {
                        //Not used right now
                    },
                    'needs registration' : function() {
                        $(".form-control-editable").prop("readonly", false);
                        $('.edit-show').show();
                        $('.edit-hide').hide();
                    },
                    'all populated' : function() {
                        $(".form-control-editable").prop("readonly", true);
                        $('.edit-show').hide();
                        $('.edit-hide').show();
                    },
                },
                eventHandles: {
                    'edit': function() {
                        $(".form-control-editable").prop("readonly", false);
                        $('.edit-show').show();
                        $('.edit-hide').hide();
                    },
                    'reset': function(model) {
                        model.softReset();
                    },
                    'submit': function(model) {
                        model.set({
                            'host': $('#host').val(),
                            'port': $('#port').val(),
                            'path': $('#path').val(),
                            'token': $('#token').val()
                        });
                        
                        model.saveBridgeData();
                        $(".form-control-editable").prop("readonly", true);
                        $('.edit-show').hide();
                        $('.edit-hide').show();
                    }                    
                },
                events: {
                    'click Button': function(source) {
                        this.eventHandles[source.target.getAttribute('type')](this.model);
                        return false;
                    }
                },
                render: function(){
                    var template = _.template($('#RegistrationTemplate').html());
                    this.$el.html(template(this.model.toJSON()));
                    $('[data-toggle="tooltip"]').tooltip();
                    //Change input readonly and buttons w.r.t. state
                    this.renderState[this.model.siteState()]();
                }
            });
            
            /**
             * Backbone.js router that manages the SPA urls.
             * It will instantiate the model and views.
             */
            var router = new (Backbone.Router.extend({
                initialize: function() {
                    _.bindAll(this, 'logout', 'login', 'registration');
                    //Instantiate the navigation bar.
                    new Navbar({el: $('#navbar-container')[0]});
                    //Instantiate the Backbone Model.
                    this.model = new SiteModel(); 
                },
                routes: {
                    'logout': 'logout',
                    'registration': 'registration',
                    //https://www.alexapremisebridge.com/#auth
                    "*actions": "login",
                },
                logout: function() {
                    amazon.Login.logout();
                    this.model.reset();
                    Backbone.history.navigate('login', {trigger: true, replace: true} );
                },
                login: function() {
                    new Login({ model: this.model });
                },
                registration: function() {
                    new Registration({ model: this.model });
                }
            }));                     

            //Start the Backbone site.
            Backbone.history.start();
        </script>
    </body>
</html>