<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG"/>
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>
      </factoryAdapter>
    </logging>
  </common>
  <!-- You must provide a separate config file namde webAppSettings.config 
       This file must contain all the lines below.
  -->
  <appSettings file="webAppSettings.config">
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!--
    <appSettings>
      <add key="premiseServer" value="ws://yourpremisesever:9002"/>
      <add key="premiseUser" value="premiseusername"/>
      <add key="premisePassword" value="premisepassword"/>
    </appSettings>
    -->
    <add key="premiseHomeObject" value="sys://home"/>
    <add key="premisePowerStateClassPath" value="sys://Schema/Device/Power"/>
    <add key="premiseDimmerClassPath" value="sys://Schema/Device/Dimmer"/>
    <add key="premiseVolumeControllerClassPath" value="sys://Schema/Device/Audio"/>
    <add key="premiseInputControllerClassPath" value="sys://Schema/Device/AudioVideoSwitch"/>
    <add key="premiseTVChannelControllerClassPath" value="sys://Schema/Device/TelevisionTuner"/>
    <add key="premiseRadioChannelControllerClassPath" value="sys://Schema/Device/RadioTuner"/>
    <add key="premiseAVTransportClassPath" value="sys://Schema/Device/Transport"/>
    <add key="premiseAlexaStatusClassPath" value="sys://Schema/Modules/Alexa/Classes/AlexaStatus"/>
    <add key="premiseAlexaApplianceClassPath" value="sys://Schema/Modules/Alexa/Classes/AlexaAppliance"/>
    <add key="premiseAlexaEndpointClassPath" value="sys://Schema/Modules/Alexa/Classes/AlexaEndpoint"/>
    <add key="premiseAlexaLocationClassPath" value="sys://Schema/Modules/Alexa/Classes/AlexaSpaces"/>
    <add key="premiseAlexaLightingClassPath" value="sys://Schema/Modules/Alexa/Classes/AlexaExtendLighting"/>
    <add key="premiseAlexaLockClassPath" value="sys://Schema/Modules/Alexa/Classes/AlexaLock"/>
    <add key="premiseAlexaThermostatClassPath" value="sys://Schema/Modules/Alexa/Classes/AlexaExtendThermostat"/>
    <add key="premiseAlexaCameraStreamClassPath" value="sys://Schema/Modules/Alexa/Classes/AlexaCamera"/>
    <add key="premiseAlexaAVComponent" value="sys://Schema/Modules/Alexa/Classes/AlexaExtendAVComponents"/>
    <add key="premiseAlexaDeviceLimit" value="1000"/>
    <add key="premiseCheckStatePriorToSetValue" value="False"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="PremiseAlexaBridgeService.PremiseAlexaService" behaviorConfiguration="jsonServiceBehavior">
        <endpoint name="jsonV2Endpoint" address="json" binding="webHttpBinding" contract="PremiseAlexaBridgeService.IPremiseAlexaService" behaviorConfiguration="jsonEndpointBehavior"/>
        <endpoint name="securejsonV2Endpoint" address="jsons" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity" contract="PremiseAlexaBridgeService.IPremiseAlexaService" behaviorConfiguration="jsonEndpointBehavior"/>
      </service>
      <service name="PremiseAlexaBridgeService.PremiseAlexaV3Service" behaviorConfiguration="jsonServiceBehavior">
        <endpoint name="jsonV3Endpoint" address="json" binding="webHttpBinding" contract="PremiseAlexaBridgeService.IPremiseAlexaV3Service" behaviorConfiguration="jsonEndpointBehavior"/>
        <endpoint name="securejsonV3Endpoint" address="jsons" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity" contract="PremiseAlexaBridgeService.IPremiseAlexaV3Service" behaviorConfiguration="jsonEndpointBehavior"/>
      </service>
    </services>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./Alexa.svc" service="PremiseAlexaBridgeService.PremiseAlexaService"/>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./AlexaV3.svc" service="PremiseAlexaBridgeService.PremiseAlexaV3Service"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="jsonServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="jsonEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="https"/>
    </protocolMapping>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpTransportSecurity">
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <!-- <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>